In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('cities_output_file.csv')
df.head()

         City   temp    Lat    Long  humidity  Cloud Cover  Wind Speed
0  Pedernales  23.51   0.07  -80.05        89            6        1.99
1       Kapaa  26.48  22.08 -159.32        69           75        8.20
2     Macenta  17.54   8.55   -9.47        34           46        0.90
3       Enugu  26.00   6.45    7.50        61           96        2.10
4    Sterling   5.96  39.00  -77.40        41            1        3.60

In [5]:
HTMLTable = df.to_html('table_cities.html')